table{
    border-collapse: collapse;
}
.left, .right{
    width:2vh;
    height:25vw;
}
.top, .bottom{
    display:table-cell;
    width: -webkit-fill-available;
    height: 2vh;
}
.child{
    display:none;
}