@keyframes moving-carousel{
    0%{left:-17vw}
    100%{left: -34vw}
}
.carousel{
    position:relative;
    display:inline-flex;
    background-color: bisque;
    height:auto;
    align-items: center;
    left: -30vw; /*Will have to set this equal to image width + 2xpadding at some point*/
    overflow-x:hidden;
    animation-name:moving-carousel;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;    
}
.carousel-Item{
    position:relative;
    margin-right:2vw;
    height: auto;
    width: 15vw;
    margin: 2vw;
}