@keyframes moving-carousel{
    0%{left:-530px}
    100%{left: -1060px}
}
.carousel{
    position:relative;
    display:inline-flex;
    background-color: bisque;
    height: 400px;
    align-items: center;
    left: -530px; /*Will have to set this equal to image width + 2xpadding at some point*/
    overflow-x:hidden;
    animation-name:moving-carousel;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;    
}
.carousel-Item{
    position:relative;
    margin-left:30px;
    margin-right:30px;
    height: 300px;
    width: auto;
}