img{
    width: 100%;
    height:auto;
}
.home-nav-buttons{
    padding: 1cm;
    background-color: antiquewhite;
    font-size: 1.5cm;
}
.bannerCrop{ 
    display: table-cell;
    vertical-align: middle;
    align-items: center;
    text-align: -webkit-center;
    overflow:hidden;
    height:50vh;
    width:100vw;
    background-size: 100vw 300vh;
}
.banner{
    margin-top: -15%;
    margin-bottom: -20%;
    height:auto;
    width:100%;
    overflow-y: hidden;
}
.home{
    overflow-x: hidden;
}
#bannerText{
    display:inline-block;
    padding:3vw;
    font-size: 3.5vw;
    /* border:1vw solid rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.6); */
    text-align: center;
}