@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600;700&display=swap');

.nav-item.active {
  background-color: #d4b259;
  font-weight: 700;
}

.nav-item {
  color: #5e3713;
  font-family: "Assistant";
  font-weight: 600;
  font-size: 1.6vw;
  text-decoration: none;
  padding: 1.7vw;
}
.IAMNAVBAR{
  padding-top:1vw;
  width: 100%;
  height:3.8vw;
  display:inline-block;
  background-color: #E1C98A;
}