/* @keyframes moving-carousel{
    0%{left:-20vw}
    100%{left: 200vw} /*key frame change
} 
*/

.carousel{
    position:relative;
    display:inline-flex;
    align-items: flex-start;
    left: -19vw;
    overflow-x:hidden;
    width: 133vw; 
    height:23vw;
    background-color: blanchedalmond;
    vertical-align: middle;
    overflow-y: hidden;
}
.horizontalCarousel{
    height:19vw;
    position:relative;
    display:inline-flex;
    align-items: flex-start;   
    left: -19vw;
    overflow-x:hidden;  
    width: 133vw; 
    background-color: blanchedalmond;
    vertical-align: middle;
    overflow-y: hidden;
}
.carousel-Item{
    overflow:hidden;
    position:absolute;
    height: auto;
    padding: 2vw;
    animation-name: moving-carousel;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.t-carousel-image{
    width: 20vw;
}