.postcard-tag {
    margin: 5%;
    border: 2px solid #5e3713;
}

.mobile-postcard-tag {
    margin: 5%;
    border: 2px solid #5e3713;
    font-size: 2vw;
}

.index-card-container {
    display: flex;
    justify-content: center;
    float: left;
    clear: both;
    margin: 1%;
}

#explore-page-container {
    display: flex;
}

#mobile-explore-page-container {
    display: flex;
    flex-direction: column;
}

#tag-container {
    flex: 1;
    overflow-y: scroll;
    width: 50vw;
}

#mobile-tag-container {
    overflow: scroll;
}

#card-container {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 50vw;
}

#mobile-card-container {
    height: 50vh;
    overflow: scroll;
}

.card-summary > p:last-child {
    padding-bottom: 0;
}

.index-card-container table {
    min-height: 12rem;
    display: flex;
}

.index-card-container tbody {
    display: flex;
}

.index-card-container tr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-card-container td:nth-child(2) {
    position: absolute;
    left: 20%;
}

.card-summary {
    padding: 16px;
}

.initial-screen{
    height:50vh;
    width:50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-initial-screen{
    height:50vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}