img{
    width: 100%;
    height:auto;
}
.home-nav-buttons{
    padding: 1cm;
    background-color: antiquewhite;
    font-size: 1.5cm;
}
.bannerCrop{ 
    display: table-cell;
    vertical-align: middle;
    align-items: center;
    text-align: -webkit-center;
    overflow:hidden;
    height:50vh;
    width:100vw;
    background-size: 100vw 300vh;
}
.banner{
    margin-top: -15%;
    margin-bottom: -20%;
    height:auto;
    width:100%;
    overflow-y: hidden;
}
.home{
    overflow-x: hidden;
}
#bannerText{
    background-color:#DEC8B0;
    font-family: "Fantasy";
    /*display:inline-block;*/
    padding:7.22vw;
    font-size: 3.5vw;
    /* border:1vw solid rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.6); */
    text-align: center;
}
.homeSummary {
    font-family: "Fantasy";
    font-size: 1.45vw;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1vw;
}
.classification {
    font-family: "Fantasy";
    font-weight: bold;
    text-decoration: underline;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 1.45vw;
}
.description {
    font-family: "Fantasy";
    margin-left: 1%;
    margin-right: 1%;
}