.postcard-index-img {
    width: 20% !important;
    height: auto;
    padding: 1%;
}

.index-card-container {
    width: 98%;
}

.card-summary{
    font-size: 2vh;
}

.mobile-card-summary{
    font-size: 1vh;
}