.map-container{
}   

.stage{
    background: url("../img/world_map.jpeg") no-repeat;
    background-size: 100% 100%;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.stage-container{
}

#side-panel{
    width:300px;
    margin-top: 60px;
}

#country-panel{
    text-align: center;
}

#postcards-panel-container {
    overflow-y: scroll;
    height: 75vh;
    /*padding-left: 50px;*/
}

#postcards-panel {
}

#postcards-container > * {
}

#postcards-container > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top:10px;
}