.postcards-main-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postcards-upper-panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.mobile-postcards-upper-panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.postcard-image-container{
    width: 20vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postcard-image-container img{
    width: 90%;
    height: 100%;
}

.mobile-postcard-image-container{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-postcard-image-container img{
    width: 80%;
    height: 100%;
}

.flip-button{
    background-color: black;
    color: white;
    padding-top: .9vw;
    padding-bottom: .9vw;
    margin-top:1vw;
    margin-bottom:1vw;
    font-size:1vw;
    font-weight: 900;
    width:11vw;
    height:5vw;
}

.mobile-flip-button{
    background-color: black;
    color: white;
    padding-top: .9vw;
    padding-bottom: .9vw;
    margin-top:1vw;
    margin-bottom:1vw;
    font-size:3vw;
    font-weight: 900;
    width:20vw;
    height:10vw;
}

.postcard-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    max-width: 30vw;
    margin-top: 10vh;
}

.postcard-information p{
    text-align: center;
}

.mobile-postcard-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3vh;
    max-width: 30vw;
    margin-top: 10vh;
}

.postcards-lower-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vw;
}

.postcard-description{
    margin-bottom: 15px;
}

.postcard-description>p{
    font-size: auto;
    font-weight: 900;
}

.postcard-description>h3{
    font-size: auto;
}

.postcard-analysis>p{
    font-size: auto;
    font-weight: 900;
}

.postcard-analysis>h3{
    font-size: auto;
}
