.slideshow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tradecard-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.tradecard-image-container img {
    height: 50%;
    object-fit: cover;
}

.img1{
    transform: rotate(0deg);
}

.img2{
    transform: rotate(90deg);
}

.img3{
    transform: rotate(180deg);
}

.img4{
    transform: rotate(270deg);
}