.tradecards-main-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tradecards-upper-panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.tradecards-lower-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vw;
}

.slideshow-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    max-width: 30vw;
    margin-top: 10vh;
}

.slideshow-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rotate-button{
    background-color: black;
    color: white;
    padding-top: .9vw;
    padding-bottom: .9vw;
    margin-top:1vw;
    margin-bottom:1vw;
    font-size:1.2vw;
    font-weight: 900;
    width:11vw;
    height:5vw;
}

.arrow-button-group{
    margin-bottom: 2vw;
}

.tradecard-description{
    margin-bottom: 15px;
}

.tradecard-description>p{
    font-size: 1.2vw;
    font-weight: 900;
}

.tradecard-analysis>p{
    font-size: 1.2vw;
    font-weight: 900;
}

.tradecard-analysis>h3{
    font-size: 1.7vw;
}

.tradecard-description>h3{
    font-size: 1.7vw;
}