body{
  margin: 0;
  background-color: blanchedalmond;
  /* font-family: 'Assistant', sans-serif; */
  font-family: 'Source Serif Pro', serif;
}
#overFlowScrolling{
  overflow-y: scroll;
}

.geo {
  fill-opacity: 0.2;
  stroke-width: 2.5px;
}

.geo:hover {
  fill-opacity: 0.7;
  stroke-width: 5px;
}